#dash
{
  width: 300px;
  height: 650px;
  /* border: 2px solid #f3971b; */
  border: 2px solid #f0f0f0;
 /* margin-left: 86px; */
 /* margin-left: -1042px;
 margin-top: 101px; */
 margin-left: 68px;
    margin-top: 22px;
 
}
#dash:hover{
  background-color: #ffd333;
}

/* div
{
  width: 290px;
  height: 256px;
  border: 2px solid #f0f0f0;
  float: left;
  margin-left: 26px;
  padding: 20px;
 
} */
div{


/* width: 290px;
height: 256px;
border: 2px solid #f0f0f0;
float: left; */
/* margin-left: 26px; */
/* padding: 20px;
margin-top: -24px; */
/* padding: 20px; */
    /* margin-top: 125px; */
    /* margin-top: 53px; */

    width: 290px;
    height: 256px;
    border: 2px solid #f0f0f0;
    float: left;
    margin-left: 69px;
    padding: 20px;
    margin-top: -24px;
    padding: -22px;
    margin-top: 125px;
    margin-top: 53px;
  }




#dash1
{
width:652px ;
height: 294px;
border: 2px solid #f0f0f0;
margin-top: 10px;
margin-left: 30px;

}

  ul li{
  list-style: none;
 margin-left: 0px 0px 0px -62px;
 
  border-left-color: yellow;
  
  width:100%; 
  padding:22px 04px 05px 4px;
 
 
   /* border: 2px solid red;  */
  
 
 
}
li a{
  text-decoration: none;
  color:black;
  
  
  
 
}
ul{
  width: 106%;
  margin-left: -51px;
  padding:4px 46px 28px 38px;

  margin-top:7px;
}
ul :hover
{

  width: 100%;

}
ul li:hover{
  /* background-color: #ffd333; */
  background-color: white;

  
}
.dash2 img{
  
 width: 48%;
 height: 127px;
  border-radius: 124%;
  margin-left: 78px;

}

#btn
{
margin-left: 93px;
/* border-color: #f0f0f0; */
border-color: #ffd333;
background-color: #ffd333;

color: #3d464d;
font-size: 20px;
}
#btn:hover{
  background-color: #3d464d;
  color: white;
}
#dash4 
{
  width: 240px;
  /* border: 2px solid #f3971b; */
  border: 2px solid #f0f0f0;
  height: 22px;
  top: 10px;
  position: absolute;
  margin: 0p 0px 0px 0px ;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  /* width: 100%; */
  padding: 8px;
  text-align: center;
}

tr:nth-child(even) {
  /* background-color: #dddddd; */
  background-color: #ffd333;
}

